pkgbase = alterlinux-settings-xfce-git
	pkgdesc = AlterLinux Xfce desktop default settings
	pkgver = 2.r2.029d4cb
	pkgrel = 1
	url = https://github.com/FascodeNet/alterlinux-settings-xfce
	arch = any
	makedepends = git
	provides = alterlinux-settings-xfce
	conflicts = alterlinux-settings-xfce
	source = git+https://github.com/FascodeNet/alterlinux-settings-xfce.git
	sha256sums = SKIP

pkgname = alterlinux-settings-xfce-git
