pkgbase = curl
	pkgdesc = command line tool and library for transferring data with URLs
	pkgver = 8.22.0
	pkgrel = 1.2
	url = https://curl.se/
	arch = i486
	arch = i686
	arch = pentium4
	license = curl
	depends = ca-certificates
	depends = brotli
	depends = krb5
	depends = libidn2
	depends = libnghttp2
	depends = libnghttp3
	depends = libngtcp2
	depends = libpsl
	depends = libssh2
	depends = openssl
	depends = zlib
	depends = zstd
	provides = libcurl.so
	conflicts = wcurl
	replaces = wcurl
	source = https://curl.se/download/curl-8.22.0.tar.xz
	sha256sums = f7ef3ae8a22e521f289803fe93543eb64c329b58aa73a9e224dfd915a2a5f4f7

pkgname = curl
