pkgbase = curl
	pkgdesc = command line tool and library for transferring data with URLs
	pkgver = 8.22.0
	pkgrel = 1.3
	url = https://curl.se/
	arch = i486
	arch = i686
	arch = pentium4
	license = curl
	depends = ca-certificates
	depends = c-ares
	depends = brotli
	depends = krb5
	depends = libidn2
	depends = libnghttp2
	depends = libnghttp3
	depends = libngtcp2
	depends = libpsl
	depends = libssh2
	depends = openssl
	depends = zlib
	depends = zstd
	provides = libcurl.so
	conflicts = wcurl
	replaces = wcurl
	source = https://curl.se/download/curl-8.22.0.tar.xz
	source = check-fork-cleanup.sh
	sha256sums = f7ef3ae8a22e521f289803fe93543eb64c329b58aa73a9e224dfd915a2a5f4f7
	sha256sums = ed8b65c6015787e3d0a4d7e6d0337b42943d35f895f7f09b3dfe3746c1172579

pkgname = curl
