pkgbase = qt6-base
	pkgdesc = A cross-platform application and UI framework
	pkgver = 6.11.2
	pkgrel = 3.1
	url = https://www.qt.io
	arch = i486
	groups = qt6
	license = GPL-3.0-only
	license = LGPL-3.0-only
	license = LicenseRef-Qt-Commercial
	license = Qt-GPL-exception-1.0
	checkdepends = ttf-dejavu
	makedepends = alsa-lib
	makedepends = cmake
	makedepends = cups
	makedepends = freetds
	makedepends = git
	makedepends = gst-plugins-base-libs
	makedepends = gtk3
	makedepends = jemalloc
	makedepends = libfbclient
	makedepends = libpulse
	makedepends = mariadb-libs
	makedepends = ninja
	makedepends = postgresql
	makedepends = unixodbc
	makedepends = vulkan-headers
	makedepends = xmlstarlet
	depends = brotli
	depends = dbus
	depends = double-conversion
	depends = fontconfig
	depends = freetype2
	depends = glib2
	depends = glibc
	depends = harfbuzz
	depends = icu
	depends = krb5
	depends = libb2
	depends = libcups
	depends = libdrm
	depends = libgcc
	depends = libgl
	depends = libice
	depends = libinput
	depends = libjpeg-turbo
	depends = libpng
	depends = libproxy
	depends = libsm
	depends = libstdc++
	depends = liburing
	depends = libx11
	depends = libxcb
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = md4c
	depends = mesa
	depends = mtdev
	depends = openssl
	depends = pcre2
	depends = shared-mime-info
	depends = sqlite
	depends = systemd-libs
	depends = tslib
	depends = wayland
	depends = xcb-util-cursor
	depends = xcb-util-image
	depends = xcb-util-keysyms
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = xdg-utils
	depends = zlib
	depends = zstd
	optdepends = freetds: MS SQL driver
	optdepends = gdk-pixbuf2: GTK platform plugin
	optdepends = gtk3: GTK platform plugin
	optdepends = libfbclient: Firebird/iBase driver
	optdepends = mariadb-libs: MariaDB driver
	optdepends = pango: GTK platform plugin
	optdepends = perl: for syncqt
	optdepends = postgresql-libs: PostgreSQL driver
	optdepends = unixodbc: ODBC driver
	source = https://download.qt.io/archive/qt/6.11/6.11.2/submodules/qtbase-everywhere-src-6.11.2.tar.xz
	source = qt6-base-cflags.patch
	source = qt6-base-nostrip.patch
	source = qt6-base-icon-theme.patch
	source = https://download.qt.io/archive/qt/6.11/CVE-2026-82292-qtbase-6.11.diff
	source = CMakeLists.txt
	source = smoke.cpp
	sha256sums = 5b2e00eccaf5a4d8c14134ffa0ea8dfd0a35ae1ffc7f8d87fa4305a1ed23cf22
	sha256sums = 5411edbe215c24b30448fac69bd0ba7c882f545e8cf05027b2b6e2227abc5e78
	sha256sums = 4b93f6a79039e676a56f9d6990a324a64a36f143916065973ded89adc621e094
	sha256sums = fa62ed7cccb40ffd93e65421f0c2763ca8db925e532cbf88042e494c4e9daba8
	sha256sums = cb3f378890e84039c0bf444a13e0da8e06d5baab3c35302dad8344727d3bb523
	sha256sums = 34b6caa0259d3aab3c9c067b07570392ae11bd4f7ce9c00adfdbe7374da1ba82
	sha256sums = 86bfe15b953b4dc3b7a7539875e761b434ac2935a01f4c628d95385c4094d74d

pkgname = qt6-base
	pkgdesc = A cross-platform application and UI framework
	depends = brotli
	depends = dbus
	depends = double-conversion
	depends = fontconfig
	depends = freetype2
	depends = glib2
	depends = glibc
	depends = harfbuzz
	depends = icu
	depends = krb5
	depends = libb2
	depends = libcups
	depends = libdrm
	depends = libgcc
	depends = libgl
	depends = libice
	depends = libinput
	depends = libjpeg-turbo
	depends = libpng
	depends = libproxy
	depends = libsm
	depends = libstdc++
	depends = liburing
	depends = libx11
	depends = libxcb
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = md4c
	depends = mesa
	depends = mtdev
	depends = openssl
	depends = pcre2
	depends = shared-mime-info
	depends = sqlite
	depends = systemd-libs
	depends = tslib
	depends = wayland
	depends = xcb-util-cursor
	depends = xcb-util-image
	depends = xcb-util-keysyms
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = xdg-utils
	depends = zlib
	depends = zstd
	depends = qt6-translations

pkgname = qt6-xcb-private-headers
	pkgdesc = Private headers for Qt6 Xcb
	groups = 
	depends = qt6-base=6.11.2
	optdepends = 
