[submodule "alterlinux/alterlinux-filesystem"]
	path = alterlinux/alterlinux-filesystem
	url = https://github.com/FascodeNet/alterlinux-filesystem.git
[submodule "extern/alterlinux-wallpapers"]
	path = extern/alterlinux-wallpapers
	url = https://github.com/FascodeNet/alterlinux-wallpapers.git
[submodule "alterlinux/ckbcomp"]
	path = alterlinux-aur/ckbcomp
	url = https://aur.archlinux.org/ckbcomp.git
[submodule "alterlinux-aur/archlinux32-keyring"]
	path = alterlinux-aur/archlinux32-keyring
	url = https://github.com/FascodeNet/archlinux32-keyring.git
