pkgbase = go
	pkgdesc = Core compiler tools for the Go programming language
	pkgver = 1.26.5
	pkgrel = 1
	epoch = 2
	url = https://go.dev/
	arch = i486
	arch = i686
	arch = pentium4
	license = BSD-3-Clause
	makedepends = git
	makedepends = go
	provides = go-pie
	replaces = go-pie
	options = !strip
	options = staticlibs
	source = https://go.dev/dl/go1.26.5.src.tar.gz
	source = go-i486-softfloat-atomics.patch
	sha256sums = 495be4bc87176ac567392e5b4116abd98466d33d7b49d41e764ccc6976b2dc42
	sha256sums = 738e1ffce4f72a1fa7d62901175460302eefb2c07c3653d6bdf40a024b6c658b

pkgname = go
