pkgbase = go
	pkgdesc = Core compiler tools for the Go programming language
	pkgver = 1.26.5
	pkgrel = 1
	epoch = 2
	url = https://go.dev/
	arch = i486
	arch = i686
	arch = pentium4
	license = BSD-3-Clause
	makedepends = git
	provides = go-pie
	replaces = go-pie
	noextract = go-bootstrap-1.26.5-linux-386.tar.gz
	options = !strip
	options = staticlibs
	source = https://go.dev/dl/go1.26.5.src.tar.gz
	source = go-i486-softfloat-atomics.patch
	source = go-bootstrap-1.26.5-linux-386.tar.gz::https://go.dev/dl/go1.26.5.linux-386.tar.gz
	sha256sums = 495be4bc87176ac567392e5b4116abd98466d33d7b49d41e764ccc6976b2dc42
	sha256sums = 5a984599a7149d53a8b7334b5fd653a1ea0a3e041b5fbd97fb502ec0ea0f116b
	sha256sums = 88c162b204e6eefcc32499453b492e80209f4a4c78c33092636901c540fb0d05

pkgname = go
