pkgbase = calamares-alterlinux
	pkgdesc = Calamares installer bundled with AlterLinux branding, configuration and modules
	pkgver = 3.4.2.r308.f79ad1e
	pkgrel = 1
	url = https://github.com/FascodeNet/calamares-extensions
	arch = x86_64
	arch = pentium4
	license = GPL-3.0-or-later
	makedepends = extra-cmake-modules
	makedepends = libglvnd
	makedepends = ninja
	makedepends = qt6-tools
	makedepends = qt6-translations
	makedepends = python
	makedepends = git
	depends = kcoreaddons
	depends = kcrash
	depends = kpmcore
	depends = libpwquality
	depends = parted
	depends = qt6-declarative
	depends = qt6-svg
	depends = yaml-cpp
	depends = python
	depends = rsync
	depends = squashfs-tools
	depends = ckbcomp
	depends = polkit
	depends = polkit-qt6
	provides = calamares
	conflicts = calamares
	conflicts = alterlinux-calamares
	source = calamares-3.4.2.tar.gz::https://codeberg.org/Calamares/calamares/releases/download/v3.4.2/calamares-3.4.2.tar.gz
	source = git+https://github.com/FascodeNet/calamares-extensions.git
	sha256sums = 733bbbb00dc9f84874bd5c22960952f317ea2537565431179fa2152b2fbfdccc
	sha256sums = SKIP
	depends_pentium4 = kcoreaddons6

pkgname = calamares-alterlinux
