pkgbase = calamares-alterlinux
	pkgdesc = Calamares installer bundled with AlterLinux branding, configuration and modules
	pkgver = 3.4.3
	pkgrel = 1
	url = https://github.com/FascodeNet/calamares-extensions
	arch = x86_64
	arch = pentium4
	arch = i486
	license = GPL-3.0-or-later
	makedepends = extra-cmake-modules
	makedepends = libglvnd
	makedepends = ninja
	makedepends = qt6-tools
	makedepends = qt6-translations
	makedepends = python
	makedepends = git
	depends = kpmcore
	depends = libpwquality
	depends = parted
	depends = qt6-declarative
	depends = qt6-svg
	depends = yaml-cpp
	depends = python
	depends = rsync
	depends = squashfs-tools
	depends = ckbcomp
	depends = polkit
	depends = polkit-qt6
	provides = calamares
	conflicts = calamares
	conflicts = alterlinux-calamares
	source = calamares-3.4.3.tar.gz::https://codeberg.org/Calamares/calamares/releases/download/v3.4.3/calamares-3.4.3.tar.gz
	source = git+https://github.com/FascodeNet/calamares-extensions.git
	sha256sums = 144cbbf6bdcebfb21685950db4f0777218519df095f62f4aa392f28348110d18
	sha256sums = SKIP
	depends_x86_64 = kcoreaddons
	depends_x86_64 = kcrash
	depends_pentium4 = kcoreaddons
	depends_pentium4 = kcrash
	depends_pentium4 = kcoreaddons6
	depends_i486 = kcoreaddons6
	depends_i486 = kcrash6

pkgname = calamares-alterlinux
