pkgbase = linux-nost-lts
	pkgdesc = LTS Linux for nostalgic 32-bit machines
	pkgver = 6.18.38
	pkgrel = 2
	url = https://www.kernel.org/
	arch = i486
	arch = i686
	arch = pentium4
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.18.38.tar.xz
	source = no-ultra-zstd.patch
	b2sums = 3260a9de3db1291f8240c75c94f386ca36b6334a89cee9bc27e3b3de8ecbd5886c2bae7ba4c1d3d75fb633b85dc3192fabd806c56d04128d568dd078c3757211
	b2sums = 165ab9dd8cedeaae5327accc1581c19cf0be55f923b03feb889cad3351b74c7c4cd3d3c206938e5152bfe1d947513dea8f630f8f5544099ec13d16d254725c40
	source_i486 = config.i486
	b2sums_i486 = 8e8db0219dabd4f4db16c52c95491cdc321841e2fe9256b9aef442de2b212884e318ca1aa8f507291560744422111758ffc57c4ed5b8ab8f1f15ba09c5680bb7
	source_i686 = config.i686
	b2sums_i686 = fa8f1c8f10f7a19983197472c86c391c82eff3af6c0e73790ca5a84a8e917af6d5a0e144373c7d6046d46cf7660945e135574ac90985dc861b7fb7a7bc57b745
	source_pentium4 = config.pentium4
	b2sums_pentium4 = 1be84180e28cdd09d4f7c84d12cdde9ca77fc4d9d7d9053b2a8e2bb931c66068d6c19b91ce6a89284c16a2c0fc78ce390229735ab8f16a93ec32b2885b97e3de

pkgname = linux-nost-lts
	pkgdesc = The LTS Linux for nostalgic 32-bit machines kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-nost-lts-headers: headers and scripts for building modules
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = NTSYNC-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE

pkgname = linux-nost-lts-headers
	pkgdesc = Headers and scripts for building modules for the LTS Linux for nostalgic 32-bit machines kernel
	depends = pahole
	provides = LINUX-HEADERS
